body{
    background-color: lightgrey;
}
h1{
    color:red;
}

.post{
    color: whitesmoke;
    background-color: blueviolet;
}

.user{
    font-style: italic;
}

button{
    cursor: pointer;
}
.newpostlink{
    color: black;
}

