body{
    background-color: black;
}
#box1{
    height: 100px;
    width: 100px;
    background-color: red;
    margin: 0 auto ;
    margin-top: 10%;
    transition: 1s;
    transition-duration: 1s;
    transition: margin-top 1s ease-out;
    
}
#box1:hover{
    background-color: green;
    border-radius: 50%;
    margin-top: 100px;
}
#box2{
    height: 200px;
    width: 200px;
    background-color: blueviolet;
    margin: 0 auto ;
    margin-top: 100%;
    transition: 1s;
    transition-duration: 1s;
    transition: margin-top 1s ease-in;
}
#box2:hover{
    background-color:white;
    border-radius: 50%;
    margin-top: 100px;
}