<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>data of all users</title>
    <style>
        table,th,td{
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>id</th>
            <th>email</th>
            <th>username</th>
        </tr>
        <% for(user of users){ %>
        <tr>
            <td><%= user.id %></td>
            <td><%= user.email %></td>
            <td><%= user.username %></td>
            <td>
                <FORM method="GET" action="/users/<%= user.id %>/edit">
                <button>edit username</button>
            </FORM>
            </td>
        </tr>
        <% } %>

    </table>
</body>
</html>

