body{
    background-color: black ;
}
#circular{
    height:400px;
    width: 400px;
    background-color: yellow;
    border-radius: 50%;
    position: absolute;
    left: 30%;
    top: 30%;
}
#circular:hover{
    background-color:white;
}

.mouth{
    height: 75px;
    width: 200px;
    background-color: black;
    position: relative;
    top: 250px;
    left: 100px;
    border-radius: 0 0 50% 50%;
}
.mouth:hover{
    background-color: brown;
}
.left , .right{
    height: 75px;
    width: 75px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    position: absolute;


}
.left{
    left: 100px;
}
.right{
    left: 250px;
}