/*QUESTION 1 :- div{
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50%;
} */
*{
    padding: 0;
    margin: 0;
    color: white;
}
body{
    background-color:white;
}
#navbar{
    background-color: black;
    height: 60px;
    /* width: 200px; */
    

    /* border: 5px solid white; */
}
#logo{
    color: orange;
    font-size: 25px;
}
input{
    color: black;
}
button{
    background-color: orange;

}
a{ 
    margin-right: 140px;
}
