<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Edit posts</title>
</head>
<body>
    <h2>Edit your post</h2>
    <p>post id : <%= post.id %></p>
    <p>post username : <%= post.username %></p>
    <form>
        <textarea><%= post.id %></textarea>
        <button>Submit</button>
    </form>
</body>
</html>